html,body,#_map{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    margin: 0 auto;
}
a {
    color: inherit;
    text-decoration: inherit;
}

#filter_field{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#_menu {
    height: 40%;
    width: 0;
    z-index: 4;
    position: fixed;
    top:0;
    left:0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 5px;
    transition: 0.5s;
}
#_menu-content{
    position: absolute;
    padding-left: 2px;
    text-align: center;
    margin-top: 10px;
    z-index: 4;
    width: 100%;
}
#_menu-content li {
    margin-bottom: 2px;
    margin-top: 2px;
    color: #818181;
    display: block;
    z-index: 4;
}
#_menu-content li > a{
    position: static;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
    width: 100%;
    transition: 0.3s;
}
#_menu-content li:hover, #_menu-content li:focus {
    background-color: #7dcdcd;
    cursor: pointer;
}

#_menu .closebtn {
    vertical-align: middle;
    padding: 3px;
    text-decoration: none;
    color: #818181;
    position: static;
  /*  top: 2px;
    right: 45px;*/
    font-size: 50px;
    z-index: 4;
 }
#_menu .closebtn:hover {
    color: #7dcdcd;
  }

#openButton{
    z-index: 4;
    position: fixed;
    top:10px;
    left:10px;
    font-size:30px;
    cursor:pointer;
    border: #111;
}


.marker-photo {
    float: left;
    margin: 2px;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}
.marker-photo:first-of-type{
    margin-left: 0px;
}
.marker-title{
    text-decoration: underline;
    text-transform: capitalize;
}
.marker-url{
    display: inline-block;
}

@media screen and (max-height: 450px) {
    #_menu {padding-top: 15px;}
    #_menu-content li > a{font-size: 18px;}
}
@media screen and (max-width: 740px){
    #_menu-content li > a{
        font-size: 20px;
    }
    #filter_field{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

}